$site_color_1: rgb(61, 63, 53);
$site_color_2: rgb(87, 95, 69);
$site_color_3: rgb(208, 182, 159);
$site_color_4: rgb(234, 213, 197);
$site_color_5: rgb(167, 189, 211);
$site_color_6: rgb(73, 92, 114);
$site_color_7: rgb(0, 0, 0);
$site_color_8: rgb(255, 255, 255);
$site_color_9: rgb(224, 244, 244);
